{% extends 'admin/master.html' %}

{% block body %}
    <p>Hello world</p>
    <p>В общем, это админ панель, и здесь можно редактировать и удалять содержимое БД</p>
    <p>Я хз, что здесь можно еще написать, так что слушайте анекдот:</p>
    <p>Как-то раз Штирлицу постучали 1488 раз в дверь</p>
    <p>-Нацисты - подумал Штирлиц</p> 
    <p>-Дегенерат - подумали 186 осьминогов.</p>
    <p style="font-family: 'Courier New', Courier, monospace;">Да, я знаю, что это не смешно, но мне пох</p>
{% endblock %}