<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайлер Дерден</title>
</head>
<body style="background-color: #F3F0E7">
    <p style="font-family: Arial, Helvetica, sans-serif">О, как я вижу, ты любишь копать глубоко. Ок, держи цитату Тайлера Дёрдена из "Бойцовского клуба"</p><br>
    <p style="font-family: Arial, Helvetica, sans-serif;">Первое правило клуба – не упоминать о Бойцовском клубе. Второе правило клуба – <span style="font-weight: bold;">не упоминать о Бойцовском клубе!</span></p>
</body>
</html>