<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Интернет библиотека, онлайн библиотека">
    <meta name="keyword" content="читать онлайн, читать бесплатно, интернет библиотека, онлайн библиотека">
    <title>Lib.net - главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <h1>Lib.net - интернет библиотека</h1>
        <h3><marquee>Добро пожаловать</marquee></h3>
        <hr>
        <h4>Главная страница</h4>
    </header>
    <nav id="slide-menu">
        <p>Выберите жанр:</p>
        <a href="/classic_ru">Классика русской литературы</a>
        <a href="/classic_foreign">Классика зарубежной литературы</a>
        <a href="/fantasy">Фентези</a>
        <a href="/dramma">Драмма</a>
        <a href="/comedy">Комедия</a>
        <a href="/tragedy">Трагедия</a>
        <a href="/documental">Документальные книги</a>
        <a href="/horror">Хоррор</a>
        <a href="/triller">Триллер</a>
        <a href="/student">Учебники</a>
    </nav>
    <main>
        <h2>Добро пожаловать на Lib.net</h2>
        <p>Здесь вы можете бесплатно читать книги различных жанров. Для начала, выберите жанр, чтобы начать читать книги.</p>
        <p>Пользуйтесь онлайн библиотекой с удовольствием!</p>
    </main>
</body>
</html> 